
<div fxLayout="row" class="byd-page-container">
    <div fxFlex></div>
    <div fxFlex="20" fxLayout="column">
        <form id="formLogin" fxLayout="column" class="example-form" [formGroup]="formGroup">
            <div class="byd-login-margin">
                <mat-form-field id="mfPwd" class="example-full-width" style="width:100%">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput [formControl]="passwordControl" [errorStateMatcher]="matcher" />
                    <mat-error *ngIf="passwordControl.hasError('required')">New Password is required.</mat-error>
                </mat-form-field>
            </div>

            <div class="byd-login-margin">
                <mat-form-field id="mfPwd" class="example-full-width" style="width:100%">
                    <mat-label>Repeat New Password</mat-label>
                    <input type="password" matInput [formControl]="rePasswordControl" [errorStateMatcher]="matcher" />
                    <mat-error *ngIf="rePasswordControl.hasError('required')">Repeat New Password is required.</mat-error>
                    <mat-error *ngIf="rePasswordControl.hasError('passwordMismatch')">Passwords do not match.</mat-error>
                </mat-form-field>
            </div>

            <div class="byd-login-margin" style="text-align: center;">
                <button kendoButton class="byd-button" (click)="changePassword()" [disabled]="!formGroup.valid">Submit</button>
            </div>            
        </form>
    </div>
    <div fxFlex></div>
</div>