<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,500&display=swap" rel="stylesheet">

<!-- Header1 -->
<!-- desktop mode -->
<div class="header-container" fxLayout="row-reverse">



  <!-- Menu [Shopping Cart] -->
  <div class="shoppingCart byd-menu-div" id="divShoppingCart" (click)="gotoRouter('UserOrder')">
    <span class="material-icons" style="line-height:50px;"
      *ngIf="currentUser && currentUser.coinOrder && currentUser.coinOrder.length==0 || !userSignedIn">
      shopping_cart</span>
    <span class="material-icons" style="line-height:50px;"
      *ngIf="currentUser && currentUser.coinOrder && currentUser.coinOrder.length>0 && userSignedIn"
      matBadge="{{currentUser && currentUser.coinOrder && currentUser.coinOrder.length}}" matBadgeColor="warn">
      shopping_cart</span>
  </div>
  <div *ngIf="userSignedIn; else signInRegisterBlock">
    <span>Hello, {{currentUser?.firstName}} {{currentUser?.lastName}}</span>
    <button [matMenuTriggerFor]="menu_onlineshop">Profile <span class="material-icons">expand_more</span></button>
    <mat-menu #menu_onlineshop="matMenu">
      <button mat-menu-item (click)="gotoRouter('UserProfile')">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  <ng-template #signInRegisterBlock>
    <div class="byd-menu-div" id="divSignInRegister">
      <span (click)="signIn()"><b>Sign In</b></span> or <span (click)="register()"><b>Register</b></span>
    </div>
  </ng-template>


  <div *ngFor="let link of headerLinks" (click)="gotoRouter(link.route)" class="byd-menu-div">{{ link.label }}</div>

  <div class="byd-menu-div" id="divNotifications" *ngIf="userSignedIn" (click)="gotoRouter('UserNotifications')">
    <span class="material-icons" [matBadge]="currentUser?.coinOffer?.length || 0"
      matBadgeColor="warn">notifications_none</span>
  </div>


  <!-- Search Bar -->
  <div style="background-color: white" class="search-container">
    <mat-form-field appearance="fill" class="search-category-select">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selectedCategoryId">
        <mat-option value="0">All Categories</mat-option>
        <mat-option value="1">Gold Coin</mat-option>
        <mat-option value="2">Silver Coin</mat-option>
        <mat-option value="3">Copper/Brass Coin</mat-option>
        <mat-option value="4">Medal</mat-option>
        <mat-option value="5">Banknote</mat-option>
        <mat-option value="20">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="search-input">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search for item name" [(ngModel)]="searchKeyword" (keyup.enter)="searchCoins()">
    </mat-form-field>

  </div>

  <!-- Logo -->
  <div class="byd-lt-md-hide"><img src="assets/img/Logo3.png" (click)="gotoHome()" class="byd-logo"></div>

</div>

<!-- mobile mode -->
<div class="byd-lt-md-show" style="width:100%; padding-left:10px; padding-right:10px; height:50px;" fxLayout="row">
  <div><img src="assets/img/logoicon.png" (click)="gotoHome()" style="height: 25px; top: 12px; position: relative;">
  </div>

  <!-- Main Menu -->
  <div fxFlex fxlayout="row" style="text-align:center;"></div>

  <!-- Menu [Hi Bidder] -->
  <div *ngIf="userSignedIn" fxFl id="divUser" name="divLoginUserContent" style="line-height:50px">
    <span>Hi, </span>
    <button *ngIf="currentUser" [matMenuTriggerFor]="menu_onlineshop" class="menuButton" style="padding-left: 0;">
      <span class="byd-signin-span">{{currentUser.firstName}} {{currentUser.lastName}}</span><span
        class="material-icons" style="cursor: pointer;">expand_more</span>
    </button>
    <mat-menu #menu_onlineshop="matMenu">
      <button mat-menu-item (click)="gotoRouter('UserProfile')"><span>Profile</span></button>
      <button mat-menu-item (click)="gotoRouter('CoinList')"><span>All List</span></button>
      <button mat-menu-item (click)="gotoRouter('WatchList')"><span>My Watchlist</span></button>
      <button mat-menu-item (click)="gotoRouter('UserNotifications')"><span>My Offer</span></button>
      <button mat-menu-item (click)="gotoRouter('UserOrder')"><span>My Order</span></button>
      <button mat-menu-item (click)="gotoRouter('UserPurchase')"><span>My Purchase</span></button>
      <button mat-menu-item (click)="gotoRouter('Sell')"><span>Sell</span></button>
      <button mat-menu-item (click)="gotoRouter('AboutUs')"><span>About Us</span></button>
      <button mat-menu-item (click)="logout()"><span>Logout</span></button>
    </mat-menu>
  </div>

  <div class="byd-menu-div" *ngIf="!userSignedIn" id="divSignInRegister" style="line-height:50px;">
    <span class="byd-signin-span" (click)="signIn()"><b>Sign In</b></span> or
    <span class="byd-signin-span" (click)="register()"><b>Register</b></span>
  </div>
</div>
<!-- Header2 -->
<div class="header-two" fxLayout="row">

</div>