<div fxLayout="row" class="byd-page-container">
    <!-- <div fxFlex></div> -->
    <div fxFlex fxLayout="column">
        <div style="border-bottom: 1px solid #e0e0e0;text-align: left;"><span><b>My Seller Hub</b></span></div>

        <div class="byd-coin-field-div" style="padding: 10px; text-align: center;">
            <button kendoButton (click)="addNewCoin()" class="byd-function-button">List new item</button>
        </div>


        <div fxLayout="row">
            <div fxFlex="33" class="byd-sale-summary-div" (click)="loadSellCoins(1)" fxLayout="column">
                <div fxFlex.lt-md="60" style="line-height: 100px;"><span class="byd-sale-summary-total">{{coinCount_Activity}}</span></div>
                <div fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column">
                    <div fxFlex></div>
                    <span>Active</span>
                    <span class="byd-lt-md-hide">&nbsp;(Total: {{coinTotal_Activity | currency}})</span>
                    <span class="byd-lt-md-show" style="font-size: 12px;">({{coinTotal_Activity | currency}})</span>
                    <div fxFlex></div>
                </div>
            </div>
            <div fxFlex="34" class="byd-sale-summary-div"  (click)="loadSellCoins(2)" fxLayout="column">
                <div fxFlex.lt-md="60" style="line-height: 100px;"><span class="byd-sale-summary-total">{{coinCount_Sold}}</span></div>
                <div fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column">
                    <div fxFlex></div>
                    <span>Sold</span>
                    <span class="byd-lt-md-hide">&nbsp;(Total: {{coinTotal_Sold | currency}})</span>
                    <span class="byd-lt-md-show" style="font-size: 12px;">({{coinTotal_Sold | currency}})</span>
                    <div fxFlex></div>
                </div>
            </div>
            <div fxFlex="33" class="byd-sale-summary-div"  (click)="loadSellCoins(3)" fxLayout="column">
                <div fxFlex.lt-md="60" style="line-height: 100px;"><span class="byd-sale-summary-total">{{coinCount_Shipped}}</span></div>
                <div fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column">
                    <div fxFlex></div>
                    <span>Shipped</span>
                    <span class="byd-lt-md-hide">&nbsp;(Total: {{coinTotal_Shipped | currency}})</span>
                    <span class="byd-lt-md-show" style="font-size: 12px;">({{coinTotal_Shipped | currency}})</span>
                    <div fxFlex></div>
                </div>
            </div>
            <div fxFlex="25" class="byd-sale-summary-div"  (click)="loadSellCoins(4)" fxLayout="column">
                <div fxFlex.lt-md="60" style="line-height: 100px;"><span class="byd-sale-summary-total">{{coinCount_UnSold}}</span></div>
                <div fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column">
                    <div fxFlex></div>
                    <span>Unsold</span>
                    <span class="byd-lt-md-hide">&nbsp;(Total: {{coinTotal_UnSold | currency}})</span>
                    <span class="byd-lt-md-show" style="font-size: 12px;">({{coinTotal_UnSold | currency}})</span>
                    <div fxFlex></div>
                </div>
            </div>
        </div>


        <div fxFlex>

            <kendo-grid [kendoGridBinding]="userCoins" [pageSize]="50" [pageable]="true" [sortable]="true" filterable="menu"
                [height]="550" #grid>
                <kendo-grid-column field="coinId" title="Id" [width]="50" [filterable]="false"></kendo-grid-column>
                <kendo-grid-column field="name" title="Name" [width]="180">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <span (click)="openCoinDetail(dataItem)" style="text-decoration: underline; color:#1a405d; cursor: pointer;">{{dataItem.name}}</span><br>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="startPrice" title="Start" filter="numeric" format="{0:c}" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="currentPrice" title="Current" filter="numeric" format="{0:c}" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="lowestPrice" title="Lowest" filter="numeric" format="{0:c}" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="intervalString" title="Interval" [width]="90"></kendo-grid-column>
                <kendo-grid-column field="increment" filter="numeric" [hidden]="currentMode!=1" format="{0:c}" title="Increment" [width]="110"></kendo-grid-column>
                <kendo-grid-column field="enteredDate" title="Entered" filter="date" format="{0:d}" [width]="100"></kendo-grid-column>
                <kendo-grid-column [hidden]="currentMode!=2" field="coinStatusDesc" title="Status" [width]="100"></kendo-grid-column>
                <kendo-grid-column [hidden]="currentMode!=3" field="trackingNumber" title="Tracking Number" [width]="130">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <span>{{dataItem.shippingCompany}}</span><br>
                      <span>{{dataItem.trackingNumber}}</span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [hidden]="currentMode!=2"  [width]="130">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="material-icons" *ngIf="dataItem.trackingNumber.trim().length==0" (click)="inputTrackingNumber(dataItem)" title="Input tracking number" style="cursor: pointer;">local_shipping</span>
                        <span *ngIf="dataItem.trackingNumber.trim().length>0">{{dataItem.shippingCompany}}</span><br>
                        <span *ngIf="dataItem.trackingNumber.trim().length>0">{{dataItem.trackingNumber}}</span>
                      </ng-template>                    
                </kendo-grid-column>

                <kendo-grid-column [hidden]="currentMode!=1" [width]="80">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="material-icons byd-coin-edit-icon" (click)="modifyCoin(dataItem)" title="Modify Coin">edit</span>&nbsp;&nbsp;
                        <span class="material-icons byd-coin-edit-icon" (click)="removeCoin(dataItem.coinId)" title="Remove Coin" style="margin-right: 5px;">delete</span>
                    </ng-template>                    
                </kendo-grid-column>
            </kendo-grid>

        </div>


    </div>
    <!-- <div fxFlex></div> -->
</div>