<div fxLayout="row" class="byd-page-container" style="font-size: 17px;">

    <div fxFlex fxLayout="column" style="margin-top: 30px;">

        <div class="byd-margin-top-20">
            <span style="font-size: 50px; padding-left: 200px; padding-right: 200px">
                <span style= "border-bottom: 1px solid #d0d0d0">
                    Welcome to Bydd
                </span>
            </span>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top:20px; padding-left: 200px; padding-right: 200px;">
            <span>
            Welcome to Bydd, where innovation and inspiration converge to create a revolutionary online marketplace platform. At Bydd, our mission is to 
transform the way auctions are conducted, creating a superior shopping experience while empowering sellers to achieve their maximum 
potential. With our user-friendly interface, innovative Dutch auction format, and dedication to customer satisfaction, we aspire to be the go-to 
platform for all your buying and selling needs.<br><br>
            </span>
        </div>

        <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
            <video controls width="800" height="450" style="border: 3px solid rgb(197, 197, 197);">
                <source src="assets/img/aboutus.mp4" type="video/mp4">
            </video>
        </div>
        
        
        <div style ="display: flex; flex-direction: row; width: 100%; padding-top: 30px;">
            
            <div style="flex: 1; padding-left: 200px; font-size: 50px;">
                <span style = "border-bottom:  1px solid #d0d0d0;">
                    How Bydd Works
                </span>
            </div>

            <div style="flex: 1.7; padding-right: 200px">
                <span>
                    Bydd utilizes a unique Dutch Auction selling format to provide a superior marketplace experience for 
                    both buyers and sellers. Buying and selling on Bydd is quick, simple, and intuitive. A Dutch auction is a 
                    type of auction where the auctioneer starts with the highest asking price, which lowers over time until a 
                    participant accepts the price. The first bid made is the winning bid, ensuring that the buyer pays the 
                    fairest price they are willing to offer.<br><br>
                    Dutch auctions are especially beneficial for goods of high value or unique items, where the true market 
                    value might be unknown. They are also resistant to fraud and less time-consuming than traditional 
                    auction formats.<br><br>
    
                    The Benefits of Dutch Auctions on Bydd<br><br>
    
                    <b>For Buyers:</b><br><br>
                    • Fair Pricing: You only pay what you're willing to pay, not a cent more.<br>
                    • Instant Purchases: No need to wait for a prolonged bidding period.<br>
                    • Transparency: The process is straightforward, reducing the risk of fraud.<br><br><br>
    
                    <b>For Sellers:</b><br><br>
    
                    • Maximised Potential Final Price: The first bid accepted is often the highest the market is willing to pay.<br>
                    • Reduced Risk of Unsuccessful Sale: The price lowers until a buyer is found, ensuring a sale as long as 
                    the reserve price is met.<br>
                    • Efficiency: Faster sales process compared to traditional auctions.<br><br><br>   
                </span>
            </div>
        </div>


        <!-- <div class="byd-margin-top-20">
            <span style="font-size: 50px; padding-left: 200px; padding-right: 200 px">
                <span style="border-bottom: 1px solid #d0d0d0">
                    How Bydd Works
                </span>
            </span>
        </div>
        
        <div fxLayout="column" class="byd-list-all-div" style="padding-top:20px; padding-left: 200px; padding-right: 200px;">
            <span>Bydd utilizes a unique Dutch Auction selling format to provide a superior marketplace experience for 
                both buyers and sellers. Buying and selling on Bydd is quick, simple, and intuitive. A Dutch auction is a 
                type of auction where the auctioneer starts with the highest asking price, which lowers over time until a 
                participant accepts the price. The first bid made is the winning bid, ensuring that the buyer pays the 
                fairest price they are willing to offer.<br><br>
                Dutch auctions are especially beneficial for goods of high value or unique items, where the true market 
                value might be unknown. They are also resistant to fraud and less time-consuming than traditional 
                auction formats.<br><br>

                The Benefits of Dutch Auctions on Bydd<br><br>

                <b>For Buyers:</b><br><br>
                • Fair Pricing: You only pay what you're willing to pay, not a cent more.<br>
                • Instant Purchases: No need to wait for a prolonged bidding period.<br>
                • Transparency: The process is straightforward, reducing the risk of fraud.<br><br><br>

                <b>For Sellers:</b><br><br>

                • Maximised Potential Final Price: The first bid accepted is often the highest the market is willing to pay.<br>
                • Reduced Risk of Unsuccessful Sale: The price lowers until a buyer is found, ensuring a sale as long as 
                the reserve price is met.<br>
                • Efficiency: Faster sales process compared to traditional auctions.<br><br><br>
            </span>
        </div> -->

        <!-- <div class="byd-aboutus-paddingtop">
            <div style="padding-top: 30px; text-align: center;">
                <img src="assets/img/About Us Photo.png" class="byd-aboutus-photo" style="border: 3px solid rgb(197, 197, 197); width: 150px; height: auto;"><br>
                <span>Peter Zheng (pictured on the right) and Will Zhang (pictured on the left)</span>
            </div>
        </div> -->

        <div class="byd-margin-top-20" style="text-align: center; padding-top: 40px;">
            <span style="font-size: 50px; padding-left: 200px; padding-right: 200px;">
                <span style="border-bottom: 1px solid #d0d0d0;">
                Experience the Bydd Advantage
                </span>
            </span>

        <div style ="display: flex; flex-direction: row; width: 100%; padding-top: 30px;">
            
            <div style="flex: 1; padding-left: 100px; font-size: 50px; display: flex; flex-direction: column; justify-content: space-between; ">
                <div style="padding-top: 30px; text-align: center;">
                    <img src="assets\img\Empowering Sellers Icon.png" class="byd-aboutus-photo" style= " width: 175px; height: auto;"><br>
                </div>
                <div style = "padding-top: 42px; text-align: center;">
                    <span style="font-size: 30px">
                        <span>
                        Empowering Sellers
                        </span>
                    </span>
                </div>
                <div style = "padding-top: 10px; text-align: center; max-width: 375px; margin: auto;">
                    <span style="font-size: 18px">
                        <span style="padding-left: inline; padding-right: inline;">
                        Our unique descending auction format allows sellers to set an entry price into the market, with a floor price to protect them from items selling at a loss
                        </span>
                    </span>
                </div>
            </div>
            <div style="flex: 1; font-size: 50px;  display: flex; flex-direction: column; justify-content: space-between;">
                <div style="padding-top: 30px; text-align: center;">
                    <img src="assets\img\Improved Sales Results Icon.png" class="byd-aboutus-photo" style=" width: 175px; height: auto;"><br>
                </div>
                <div style = "padding-top: 32px; text-align: center;">
                    <span style="font-size: 30px">
                        <span>
                        Improved Sales Results
                        </span>
                    </span>
                </div>
                <div style = "padding-top: 10px;text-align: center; max-width: 375px; margin: auto;">
                    <span style="font-size: 18px; text-align: center;">
                        <span>
                            With a descending auction format, all it takes is for one interested buyer to finalize a transaction, removing the need for significant auction traction.
                        </span>
                    </span>
                </div>
            </div>
            <div style="flex: 1; padding-right: 100px; font-size: 50px;  display: flex; flex-direction: column; justify-content: space-between;">
                <div style="padding-top: 30px; text-align: center;">
                    <img src="assets\img\Better Protection For buyers Icon.png" class="byd-aboutus-photo" style=" width: 175px; height: auto;"><br>
                </div>
                <div style = "padding-top: 30px; text-align: center;">
                    <span style="font-size: 30px">
                        <span>
                        Better Protection for Buyers
                        </span>
                    </span>
                </div>
                <div style = "padding-top: 10px; text-align: center; max-width: 375px; margin: auto;">
                    <span style="font-size: 18px">
                        <span>
                            Owing to our one click to buy auction style, shill bidding is non-existent on our platform. Buyers also have a significantly higher auction success rate.
                        </span>
                    </span>
                </div>
            </div>
<div style="height: 50px;"></div>
    </div>
</div>
        
        <!-- <div class="byd-margin-top-20" style=" padding-top: 50px; text-align: left;">
            <span style="font-size: 50px; padding-left: 200px; padding-right: 200px;">
                <span style="border-bottom: 1px solid #d0d0d0;">
                Our Story
                </span>
            </span>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top: 20px; padding-left: 200px; padding-right: 200px; text-align: left;">
            <span>
                The collectibles market is one that is full of both immense joys as well as many potential pitfalls. When I started Apex Numismatics back in 2015 
                with Will as my co-founder, we set out to become the best dealers and collectors possible. Along the way, we've handled thousands of quality 
                coins and banknotes, as well as participated in countless auctions and sales. Moreover, we've also experimented with virtually every sales 
                platform out there, including starting our own auction house. Through this journey, there were many frustrations with the existing platforms and 
                systems in the collecting community. As a seller, there's nothing more nerve-wracking then watching the final seconds of your item tick down, 
                only to be hit by the disappointment of a low final price. As a buyer, I've also experienced many a times where I head into an auction with the 
                expectations of many purchases, only to come away empty-handed after hours wasted. Worse still is the bittersweet feeling of a won lot that came 
                as a result of stretching my budget. Finally, there's also the worst case scenarios sometimes, where suspicious bidding practices at auction point 
                to fraudulent activity such as shill bidding. These issues can put a damper on an otherwise fascinating and rewarding hobby.<br><br>
                
                It is precisely because of these problems facing collectors that we set out to create a new platform, specifically for dedicated collectors like 
                ourselves. After months of careful iteration and development, we are so proud to present Bydd. Using a Dutch Auction Format, Bydd is able to 
                offer sellers exclusive benefits of listing, including protection from the risk of loss and a better chance at maximizing the price. For buyers, the 
                days of futile auctions are over. With Bydd, items start at an initial price which systemically declines in given intervals. Simply find the perfect 
                item, wait until it falls within budget and complete the purchase. Buyers can also be sure that there are no shill bids impeding the process, as 
                every bid is a win. With Bydd, there's no more wasted time, only winning. <br><br>

                <span>
                    Sincerely
                </span><br>
                <span>
                    Peter Zheng, CEO, Bydd
                </span>                
            </span>
        </div>
    </div>
</div> -->