<div fxLayout="column" class="byd-page-container">
  <!-- carousel row -->
  <div fxFlex="55" role="main" class="byd-lt-md-layout">
    <owl-carousel-o [options]="carouselOptions">
      <ng-container *ngFor="let slide of news">
        <ng-template carouselSlide [id]="slide.id">
          <div style="cursor:pointer" (click)="gotoRouter('CoinList')">
            <img [src]="slide.imageUrl" [alt]="slide.caption" [title]="slide.newsDescription" class="carousel-coin">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div><span>Recent price drops | </span><span (click)="gotoRouter('CoinList')" style="cursor: pointer; text-decoration: underline;">See all</span></div>
  <!-- refer coin row -->
  <div fxFlex fxLayout="row" role="main" style="border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0;">
    
    <div fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column">
      <div fxLayout="column" class="byd-div-show">
        <div fxFlex></div>
        <div (click)="loopPrev()"><img src="assets/img/left.png" width="15" style="cursor:pointer"></div>
        <div fxFlex></div>
      </div>
      <div fxFlex fxLayout="row">
        <div *ngFor="let coin of referCoins | slice:0:3" class="refer-coin-contain" fxFlex.gt-sm="33" fxLayout="column">
          <div fxLayout="row">
            <div fxFlex="50" style="text-align: left; padding: 5px;">
              <span class="refer-coin-price-down">{{coin.startPrice | currency}}</span>
            </div>
            <div fxFlex style="text-align: right; padding: 5px;">
              <span class="material-icons refer-coin-price-down-icon">south</span>
              <span id="spanCurrentPrice{{coin.coinId}}" class="refer-coin-price-down" style="padding-left:18px;">{{coin.increment | currency }}</span>
            </div>
          </div>

          <div (click)="openCoinDetail(coin.coinId)" style="cursor: pointer;">
            <img class="refer-coin" [src]="coin.imageUrls[0]" />
          </div>
          <div (click)="openCoinDetail(coin.coinId)" style="padding: 10px; cursor: pointer;"><span class="refer-coin-title">{{coin.name}}</span></div>
          
          <div fxFlex style="text-align: center;padding-bottom: 10px;" fxLayout="column">
            <div fxFlex></div>
            <div style="font-size: 20px; color:white; background-color: #1a405d; padding: 5px;"><span>Current Price: {{coin.currentPrice | currency}}</span></div>
          </div>
          <div fxLayout="row">
            <div fxFlex>
              <span *ngIf="!coin.coinInWatchList" (click)="addCoinToWatchlist(coin.coinId)" title="Add to Watch List" class="material-icons refer-coin-icon">favorite_border</span>
              <span *ngIf="coin.coinInWatchList" (click)="removeCoinFromWatchlist(coin.coinId)" title="Remove from Watch List" class="material-icons refer-coin-icon" style="color:crimson">favorite</span>
            </div>
            <div fxFlex="50">
              <span class="material-icons refer-coin-icon" (click)="buyCoin(coin)" title="Buy Now">add_shopping_cart</span>
            </div>
          </div>

          <div style="text-align: center; padding: 10px 10px 0; font-size: 12px;">
            <span id="spanPrice_coin1" class="refer-coin-end-datetime">Time Until Next Drop: {{coin.leftTime}}</span>
          </div>
        </div>
      </div>
      <div fxLayout="column" class="byd-div-show">
        <div fxFlex></div>
        <div (click)="loopNext()"><img src="assets/img/right.png" width="15" style="cursor:pointer"></div>
        <div fxFlex></div>
      </div>
    </div>
    
  </div>

  <div style="margin-top: 50px;"><span>Browse popular categories</span></div>
  <!-- category coin row -->
  <div fxFlex fxLayout="row" role="main" style="border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0;">
    <div fxFlex fxLayout.gt-md="row">
      <div *ngFor="let coin of categoryCoins" class="category-coin-contain" fxFlex.gt-md="25" fxLayout="column">

        <div style="padding-top: 10px; padding-bottom: 5px; background-color: whitesmoke;">
          <img class="category-coin" [src]="coin.imageUrls[1]" />
        </div>
        <div style="margin-top: 10px;">
          <span class="refer-coin-title"><b>{{coin.categoryName}}</b></span>
        </div>
        <div (click)="gotoCategoryCoins(coin.categoryId)" style="text-align: center; padding: 5px 10px 0; font-size: 14px; cursor: pointer;">
          <span class="material-icons" style="font-size: 18px; position: relative; top: 4px; right: 10px;">east</span>
          <span>See all items</span>
          <!-- {{coin.categoryCount}}  -->
        </div>
      </div>
    </div>
  </div>

  <!-- join today -->
  <div fxFlex fxLayout="row" role="main" style="background-color: #f0f0f0; margin-top: 50px; margin-bottom: 20px;">
    <div fxFlex>
      <div style="margin: 20px; font-size: 24px; text-align: center;">
        <span style="line-height: 1.2;">Become a <b>Bydd Early Adopter</b> to get exclusive access to new deals and promotions!</span>
      </div>
      <div style="text-align: center; padding: 10px 0 20px; font-size: 14px; cursor: pointer;">        
        <button kendoButton (click)="register()" class="byd-button-bigger">Join Today</button>
      </div>
    </div>
  </div>

  <!-- shop now -->
  <div fxFlex fxLayout="row" role="main" style="border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0;margin-top: 50px;">
      <div fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column">
        <div fxFlex.gt-sm="25" style="margin: 10px; font-size: 20px; padding: 20px 10px;background-color: #f0f0f0;">
          <div><span style="line-height: 1.2;font-weight: 500;">Find the perfect item for your collection</span></div>
          <div style="margin-top: 10px;"><span style="font-size: 13px; color:#a0a0a0">Browse a selection of newly added items</span></div>
          <div style="margin-top: 50px; text-align: left;">
            <button kendoButton class="byd-button" (click)="gotoRouter('CoinList')" style="line-height: 30px;">Shop now&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="material-icons" style="font-size: 18px; position: relative; top: 5px;">east</span>
            </button>
          </div>
        </div>
        <div fxFlex fxLayout="row" *ngIf="referCoins.length>2">      

          <div fxFlex fxLayout="column">
            <div *ngFor="let coin of referCoins | slice:0:2" fxLayout.gt-sm="row" fxLayout.lt-md="column" style="border: 1px solid #f0f0f0; margin: 10px 10px 5px;">    
              <div style="text-align: center;">
                <img class="refer-coin" [src]="coin.imageUrls[0]" />
              </div>
              <div style="padding: 10px;" class="byd-shopnow-title">
                <span class="refer-coin-title">{{coin.name}}</span>
              </div>
            </div>
          </div>

          <div fxLayout="column">
            <div fxFlex="25"></div>
            <div fxFlex="25" (click)="scrollDownImage($event)" class="byd-right-scroll-selected" name="ShopNowCoin">&nbsp;&nbsp;</div>
            <div fxFlex="25" (click)="scrollDownImage($event)" class="byd-right-scroll" name="ShopNowCoin">&nbsp;&nbsp;</div>
            <div fxFlex="25" (click)="scrollDownImage($event)" class="byd-right-scroll" name="ShopNowCoin">&nbsp;&nbsp;</div>
            <div fxFlex="25"></div>
          </div>

        </div>
      </div>
  </div>

</div>