.byd-page-container {
    height:100%;
    padding: 20px;
}

.byd-login-margin {
    margin-top: 10px;
}

.byd-button {
    width:200px;
    height: 30px;
    border-radius: 5px;
    border: 1px;
    color:white;
    background-color: #1a405d;
}

// ::ng-deep .mat-mdc-text-field-wrapper { padding: 0 5px ; }
// ::ng-deep .mat-mdc-form-field-error-wrapper { padding: 0 2px ; }
// ::ng-deep .mat-mdc-form-field-infix { height: 40px; min-height: 40px; padding-top: 15px; padding-bottom: 5px; }
// ::ng-deep .mdc-floating-label { top:20px ; margin-top: 3px; }

.byd-signin-title {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: 22px;
    padding-bottom: 5px;
}

.disabled-btn { opacity: 0.5; cursor: not-allowed !important; }


.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-focus-icon-color: #1a405d;
    --mdc-checkbox-selected-hover-icon-color: #1a405d;
    --mdc-checkbox-selected-icon-color: #1a405d;
    --mdc-checkbox-selected-pressed-icon-color: #1a405d;

    --mdc-checkbox-unselected-focus-icon-color: #1a405d;
    --mdc-checkbox-unselected-hover-icon-color: #1a405d;
    --mdc-checkbox-disabled-selected-icon-color: #1a405d;
    --mdc-checkbox-disabled-unselected-icon-color:#1a405d;
    --mdc-checkbox-unselected-icon-color: #1a405d;
    --mdc-checkbox-unselected-pressed-icon-color:#1a405d;
}
