<div style="height:100%" fxLayout="column">
    <div style="height:40px; border-bottom:1px solid #a0a0a0;text-align: center;">
        <span style="line-height:40px; font-size:20px">Buy Coin Confirm</span>
    </div>
    <div mat-dialog-content>
        <p>The coin had been added into your order list. Please select next step.</p>
    </div>
    <div mat-dialog-actions align="end" fxLayout="row">
        <div fxFlex="50" style="text-align: center;">
            <button mat-button [mat-dialog-close]=0 color="primary" class="byd-function-button">
                Continue Shopping
            </button>
        </div>
        <div fxFlex="50" style="text-align: center;">
            <button mat-button [mat-dialog-close]=1 color="warn" class="byd-function-button">Check Out Now</button>
        </div>
    </div>
</div>