<div fxLayout="row" class="byd-page-container">
    <div fxFlex fxLayout="column">
        <div style="border-bottom: 1px solid #e0e0e0; text-align: center;"><span>My Invoices</span></div>

        <!-- <div fxLayout="row">
            <div fxFlex="50" class="byd-sale-summary-div" fxLayout="column">
                <div fxFlex style="line-height: 100px;"><span class="byd-sale-summary-total">{{coinTotalPurchaseCount}}</span></div>
                <div style="height:20px"><span>Total Items</span></div>
            </div>
            <div fxFlex class="byd-sale-summary-div" fxLayout="column">
                <div fxFlex style="line-height: 100px;"><span class="byd-sale-summary-total">{{coinTotalPurchaseAmount | currency }}</span></div>
                <div style="height:20px"><span style="height:20px">Total Purchase Amount</span></div>
            </div>
        </div> -->

        <div fxFlex style="padding-top: 10px;">
            <kendo-grid [kendoGridBinding]="userInvoices" [pageSize]="50" [pageable]="true" [sortable]="true" filterable="menu"
                [height]="550" #grid>
                <kendo-grid-column field="invoiceId" title="Invoice Id" [width]="120"></kendo-grid-column>
                <kendo-grid-column field="invoiceDate" title="Invoice Date" filter="date" format="{0:dateFormat}" [width]="120"></kendo-grid-column>
                <kendo-grid-column field="tax" title="Tax" filter="numeric" format="{0:c}" [width]="90"></kendo-grid-column>
                <kendo-grid-column field="shippingFee" title="Shipping Fee" filter="numeric" format="{0:c}" [width]="130"></kendo-grid-column>
                <kendo-grid-column field="subTotal" title="Price" filter="numeric" format="{0:c}" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="amount" title="Service Fee" filter="numeric" format="{0:c}" [width]="120"></kendo-grid-column>
                <kendo-grid-column field="invoiceStatusDesc" title="Invoice Status" [width]="150"></kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>