::ng-deep .mat-mdc-text-field-wrapper { padding: 0 5px !important; }
::ng-deep .mat-mdc-form-field-error-wrapper { padding: 0 2px !important; }
::ng-deep .mat-mdc-form-field-infix { height: 40px; min-height: 40px; padding-top: 15px !important; padding-bottom: 5px !important; }
::ng-deep .mdc-floating-label { top:20px !important; margin-top: 3px; }


::ng-deep .mat-mdc-dialog-content { max-height: 70vh; }


.byd-div-close {  border-top: 1px solid #f0f0f0; min-height: 40px;padding: 5px; }
.btnClose { width: 100px; height: 30px; border-radius: 5px;}


.disabled-btn { opacity: 0.5; cursor: not-allowed; }

.byd-user-message {
    background-color: #1a405d; color: white; font-size: 10px; border-radius: 5px; 
    padding: 5px; margin: 10px 0px; text-align: center;
}

.byd-message {
    width:75%; border: 1px solid #d0d0d0; border-radius: 10px; padding: 5px; overflow-x: auto;
}

.byd-float-right { align-self: self-end; background-color: #1a405d; color: white; }

.byd-message-owner { margin-bottom: 20px; font-size: 12px; }
.byd-float-right-only { align-self: self-end;}

.byd-function-button1 { 
    height: 30px; border-radius: 5px; border: 1px; z-index: 1; right: 10px;
    position: relative; top: -38px; float: right; cursor: pointer;
}
 
.byd-send-message { height: 25px; position: relative; top: -40px;}

@media only screen and (max-width: 600px) {
 
    .byd-function-button { width:100px; height: 30px; border-radius: 5px; border: 1px; color:white; background-color: #1a405d; }
 
}
  
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    .byd-function-button { width:200px; height: 30px; border-radius: 5px; border: 1px; color:white; background-color: #1a405d; }

}

@media only screen and (min-width: 1025px) {
    
    .byd-function-button { width:200px; height: 30px; border-radius: 5px; border: 1px; color:white; background-color: #1a405d; }

}