<div style="height:100%" fxLayout="column">
    <div class="byd-title-height">
        <span style="line-height:40px; font-size:20px">{{currentCoin.name}}</span>
        <span class="material-icons" (click)="closeDialog()"
            style="float: right;line-height: 40px;margin-right: 10px;cursor: pointer;">close</span>
    </div>
    <div id="divZoomIn" style="height:100%;text-align: center; padding: 10px; display:none">
        <img (click)="imageZoomOut()" [src]="currentCoinImage_O" class="byd-coin-image-preview" style="height:90%; cursor: pointer;">
        <div mat-dialog-actions class="byd-div-close" fxLayout="row">
            <div fxFlex></div>
            <button mat-button (click)="imageZoomOut()" class="btnClose">Back</button>
            <div fxFlex></div>
        </div>
    </div>
    <div id="divZoomOut" fxFlex mat-dialog-content fxLayout.gt-sm="row" fxLayout.lt-md="column" style="max-height:100%;">
        <div fxFlex.gt-sm="80" style="border-right:1px solid #a0a0a0" fxLayout.gt-sm="row" fxLayout.lt-md="column">
            <div fxFlex.gt-sm="55" fxLayout="column">
                <div style="border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0; max-height:340px" fxLayout="column">
                    <div style="text-align: right;">
                        <span *ngIf="!coinInWatchList" (click)="addCoinToWatchlist()" class="material-icons" style="cursor: pointer;">favorite_border</span>
                        <span *ngIf="coinInWatchList" (click)="removeCoinFromWatchlist()" class="material-icons" style="cursor: pointer; color:crimson">favorite</span>
                    </div>
                    <div fxFlex class="byd-coin-image"><img (click)="imageZoomIn()" [src]="currentCoinImage" class="byd-coin-image-preview" style="cursor: pointer;"></div>
                </div>
                <div fxLayout="row" style="border:1px solid #c0c0c0; height: 100px;">
                    <div fxFlex="17" (click)="showImage(0)" fxLayout="column" class="byd-image-container"><span
                            fxFlex>&nbsp;</span><img [src]="currentCoin.imageUrls[0]"
                            class="byd-coin-image-preview"><span fxFlex>&nbsp;</span></div>
                    <div fxFlex="17" (click)="showImage(1)" fxLayout="column" class="byd-image-container"><span
                            fxFlex></span><img [src]="currentCoin.imageUrls[1]" class="byd-coin-image-preview"><span
                            fxFlex></span></div>
                    <div fxFlex="17" (click)="showImage(2)" fxLayout="column" class="byd-image-container"><span
                            fxFlex></span><img [src]="currentCoin.imageUrls[2]" class="byd-coin-image-preview"><span
                            fxFlex></span></div>
                    <div fxFlex="16" (click)="showImage(3)" fxLayout="column" class="byd-image-container"><span
                            fxFlex></span><img [src]="currentCoin.imageUrls[3]" class="byd-coin-image-preview"><span
                            fxFlex></span></div>
                    <div fxFlex="16" (click)="showImage(4)" fxLayout="column" class="byd-image-container"><span
                            fxFlex></span><img [src]="currentCoin.imageUrls[4]" class="byd-coin-image-preview"><span
                            fxFlex></span></div>
                    <div fxFlex="16" (click)="showImage(5)" fxLayout="column" class="byd-image-container" style="border:0">
                        <span fxFlex></span>
                        <img [src]="currentCoin.imageUrls[5]" class="byd-coin-image-preview">
                        <span fxFlex></span>
                    </div>
                </div>
                <div fxFlex class="byd-coin-desc">
                    <span>{{currentCoin.description}}</span>
                </div>
            </div>
            <div fxFlex fxLayout="column">
                <div fxLayout="row" class="byd-margin-top10">
                    <div fxFlex="50" fxLayout="column" style="padding: 0 5px;">
                        <span class="byd-field-label">Original Price</span>
                        <span class="byd-field-value">{{currentCoin.startPrice | currency}}</span>
                    </div>
                    <div fxFlex="50" fxLayout="column" style="padding: 0 5px;">
                        <span class="byd-field-label">Current Price</span>
                        <span class="byd-field-value">{{currentCoin.currentPrice | currency}}</span>
                    </div>
                </div>
                <div fxLayout="row" class="byd-margin-top10">
                    <div fxFlex="50" fxLayout="column" style="padding: 0 5px;">
                        <span class="byd-field-label">Decreasing Increment</span>
                        <span class="byd-field-value">${{currentCoin.increment}}</span>
                    </div>
                    <div fxFlex="50" fxLayout="column" style="padding: 0 5px;">
                        <span class="byd-field-label">Time till Next Drop</span>
                        <span *ngIf="(currentCoin.currentPrice > currentCoin.lowestPrice)" class="byd-field-value">{{currentCoin.leftTime}}</span>
                        <span *ngIf="!(currentCoin.currentPrice > currentCoin.lowestPrice)" class="byd-field-value">At Floor Price</span>
                    </div>
                </div>
                <div fxLayout="row" class="byd-margin-top10">
                    <div fxFlex="50" fxLayout="column" style="padding: 0 5px;">
                        <span class="byd-field-label">Floor Price</span>
                        <span class="byd-field-value">{{currentCoin.lowestPrice | currency}}</span>
                    </div>
                    <div fxFlex="50" fxLayout="column" style="padding: 0 5px;">
                        <span class="byd-field-label">End Date</span>
                        <span class="byd-field-value">{{currentCoin.endDateTime | dateFormat}}</span>
                    </div>
                </div>
                <div *ngIf="currentCoin.sellerId!=(currentUser?.userId)" class="byd-margin-top10" style="padding: 10px 5px; border-bottom: 1px solid #e0e0e0;">
                    <div fxFlex.gt-sm="50" fxFlex.lt-md="60" ></div>
                    <div fxFlex>
                        <button (click)="buyCoin()" [disabled]="btnBuyNowDisabled" [ngClass]="{'disabled-btn': btnBuyNowDisabled}" class="byd-function-button">{{btnBuyNowTitle}}</button><br><br>
                        <button *ngIf="!coinInWatchList" (click)="addCoinToWatchlist()" class="byd-function-button"
                            style="background-color: #3498ca;">Add to watchlist</button>
                        <button *ngIf="coinInWatchList" (click)="removeCoinFromWatchlist()" class="byd-function-button"
                            style="background-color:mediumseagreen;">Remove from watchlist</button>
                    </div>
                </div>

                <!-- make offer -->
                <div id="divMakeOffer" *ngIf="currentCoin.sellerId!=(currentUser?.userId) && !currentCoin.hasOffer" fxLayout="row" class="byd-make-offer">
                    <div fxFlex.gt-sm="50" fxFlex.lt-md="60" fxLayout="row" style="padding: 0 5px;">
                        <div fxFlex="55" style="text-align: right;"><span style="color: #1a405d; font-weight: 500;">Make
                                Offer <b>$</b></span></div>
                        <div fxFlex>
                            <kendo-numerictextbox [(value)]="currentCoinOfferPrice" [autoCorrect]="true" [min]="1"
                                class="byd-field-input" style="width:90%"></kendo-numerictextbox>
                        </div>
                    </div>
                    <div fxFlex style="padding: 0 5px;">
                        <div><button [disabled]="!userSignedIn || btnSendOfferDisabled" (click)="sendOffer()" [ngClass]="{'disabled-btn': btnSendOfferDisabled}" 
                            class="byd-function-button" kendoButton>{{btnSendOfferTitle}}</button></div>
                    </div>
                </div>
                <div id="divCoinOffer" *ngIf="currentCoin.sellerId!=(currentUser?.userId) && currentCoin.hasOffer" fxLayout="row" class="byd-coin-offer">
                    <div fxFlex.gt-sm="50" fxFlex.lt-md="60" style="padding: 0 5px; text-align: center;">
                        <span style="color: #1a405d; font-weight: 500;">
                            Your offer price : {{currentCoin.offerPrice | currency}}</span>
                    </div>
                    <div fxFlex style="padding: 0 5px;">
                        <div><button class="byd-function-button" (click)="retractOffer()" [disabled]="btnRetractOfferDisabled" [ngClass]="{'disabled-btn': btnRetractOfferDisabled}"
                            kendoButton style="background-color:mediumseagreen;">{{btnRetractOfferTitle}}</button></div>
                    </div>
                </div>

                <!-- notice me -->
                <div *ngIf="currentCoin.sellerId!=(currentUser?.userId) && !currentCoin.hasNotify" fxLayout="row" class="byd-coin-offer">
                    <div fxFlex.gt-sm="50" fxFlex.lt-md="60" fxLayout="row" style="padding: 0 5px;">
                        <div fxFlex="55" style="text-align: right;"><span
                                style="color: #1a405d; font-weight: 500;">Notify me at <b>$</b></span></div>
                        <div fxFlex>
                            <kendo-numerictextbox [(value)]="currentCoinNoticePrice" [autoCorrect]="true" [min]="1"
                                class="byd-field-input" style="width:90%"></kendo-numerictextbox>
                        </div>
                    </div>
                    <div fxFlex style="padding: 0 5px;">
                        <div><button [disabled]="!userSignedIn || btnNotifyMeDisabled" [ngClass]="{'disabled-btn': btnNotifyMeDisabled}" 
                            (click)="notifyMe()" class="byd-function-button" kendoButton>{{btnNotifyMeTitle}}</button></div>
                    </div>
                </div>
                <div *ngIf="currentCoin.sellerId!=(currentUser?.userId) && currentCoin.hasNotify" fxLayout="row" class="byd-coin-offer">
                    <div fxFlex.gt-sm="50" fxFlex.lt-md="60" style="padding: 0 5px; text-align: center;">
                        <span style="color: #1a405d; font-weight: 500;">
                            Your notify me price : {{currentCoin.notifyPrice}}</span>                        
                    </div>
                    <div fxFlex style="padding: 0 5px;">
                        <div><button [disabled]="btnCancelNotifyDisabled" [ngClass]="{'disabled-btn': btnCancelNotifyDisabled}" 
                            (click)="cancelNotify()" class="byd-function-button" kendoButton style="background-color:mediumseagreen;">{{btnCancelNotifyTitle}}</button></div>
                    </div>
                </div>

                <!-- shipping info -->
                <div fxLayout="row" style="padding: 10px 0 9px 10px; line-height: 30px;">
                    <div *ngIf="currentCoin.sellerId==(currentUser?.userId)" fxFlex fxLayout="row" style="padding: 0 5px;">
                        <div><span style="color: #1a405d; font-weight: 500;">Shipping Fee: &nbsp;</span></div>
                        <div fxLayout="column">
                            <div>
                                <span style="font-size:14px">{{currentCoin.carrierNameDomestic}}</span> - 
                                <span style="font-size:14px">{{currentCoin.serviceTypeDomestic}}</span> - 
                                <span style="font-size:14px">{{currentCoin.shippingFeeDomestic | currency}}</span>
                            </div>
                            <div>
                                <span style="font-size:14px">{{currentCoin.carrierNameInternational}}</span> - 
                                <span style="font-size:14px">{{currentCoin.serviceTypeInternational}}</span> - 
                                <span style="font-size:14px">{{currentCoin.shippingFeeInternational | currency}}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="currentCoin.sellerId!=(currentUser?.userId)" fxFlex fxLayout="row" style="padding: 0 5px;">
                        <div>
                            <span style="color: #1a405d; font-weight: 500;">Shipping Fee: &nbsp;</span>
                        </div>
                        <div fxLayout="column">
                            <div *ngIf="currentUser?.country == currentCoin.sellerCountry">
                                <span style="font-size:14px">{{currentCoin.carrierNameDomestic}}</span> - 
                                <span style="font-size:14px">{{currentCoin.serviceTypeDomestic}}</span> - 
                                <span style="font-size:14px">{{currentCoin.shippingFeeDomestic | currency}}</span>
                            </div>
                            <div *ngIf="currentUser?.country != currentCoin.sellerCountry">
                                <span style="font-size:14px">{{currentCoin.carrierNameInternational}}</span> - 
                                <span style="font-size:14px">{{currentCoin.serviceTypeInternational}}</span> - 
                                <span style="font-size:14px">{{currentCoin.shippingFeeInternational | currency}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex fxLayout="column" style="padding: 5px; border-top: 1px solid #f0f0f0;">
            <div>
                <div><span class="byd-field-label">Seller Information</span></div>
                <div style="border:1px solid #f0f0f0; font-size:12px">
                    <div><span>{{currentCoin.sellerName}}</span></div>
                    <div><span>{{currentCoin.sellerProvince}} {{currentCoin.sellerCountry}}</span></div>
                    <div><span style="cursor: pointer; text-decoration: underline;"
                            (click)="gotoCompanyCoinList(currentCoin.sellerId)">Seller's Other Items</span></div>
                </div>
            </div>
            <div style="margin-top:20px">
                <span  class="byd-field-label">Contact Seller</span>
                <div>
                    <mat-form-field id="mfdContactSeller" class="example-full-width" style="width:100%">
                        <mat-label>Write your message</mat-label>
                        <textarea matInput [(ngModel)]="messageToSeller"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div style="margin-top:3px;">
                <button mat-button [disabled]="btnSendMessageDisabled || messageToSeller.trim().length==0" 
                [ngClass]="{'disabled-btn': btnSendMessageDisabled || messageToSeller.trim().length==0}"
                (click)="sendMessage(currentCoin.sellerId)" class="byd-function-button">{{btnSendMessageTitle}}</button>
            </div>
        </div>      
    </div>
    <div id="divZoomOutButton" mat-dialog-actions class="byd-div-close" fxLayout="row">
        <div fxFlex></div>
        <button mat-button (click)="closeDialog()" class="btnClose">Close</button>
    </div>  
</div>