<div fxLayout="column" class="byd-page-container">
    <div style="border-bottom: 1px solid #e0e0e0; text-align: center;"><span>My Coin Offer</span></div>

    <div fxFlex class="byd-coin-field-div" style="overflow-y: auto;">

        <div id="divSpin" style="text-align: center;"><img src="assets/img/Spin-1s-200px.gif" class="byd-spin"></div>

        <ng-container *ngFor="let coin of myCoinOffers">
            <div fxLayout="row">
                <div fxFlex fxLayout.gt-sm="row" fxLayout.lt-md="column">
                    <div fxFlex.gt-sm="40" fxLayout="column" (click)="openCoinDetail(coin)" style="text-align: center;">
                        <div fxFlex><img [src]="coin.imageUrls[0]" class="byd-coin-image"></div>
                    </div>
                    <div fxLayout.gt-sm="column" fxLayout.lt-md="row">
                        <div fxFlex></div>
                        <div class="byd-padding-3"><img [src]="coin.imageUrls[0]" class="byd-coin-preview-image"></div>
                        <div class="byd-padding-3"><img [src]="coin.imageUrls[1]" class="byd-coin-preview-image"></div>
                        <div class="byd-padding-3"><img [src]="coin.imageUrls[2]" class="byd-coin-preview-image"></div>
                        <div class="byd-padding-3"><img [src]="coin.imageUrls[3]" class="byd-coin-preview-image"></div>
                        <div class="byd-padding-3"><img [src]="coin.imageUrls[4]" class="byd-coin-preview-image"></div>
                        <div class="byd-padding-3"><img [src]="coin.imageUrls[5]" class="byd-coin-preview-image"></div>
                        <div fxFlex></div>
                    </div>
                    <div fxFlex fxLayout="column" style="margin-left: 20px; margin-right: 20px;">
                        <div class="byd-div-heigh25">
                            <span class="byd-lt-md-hide"><b>{{coin.name}}</b></span>
                            <span class="byd-lt-md-show" title="{{coin.name}}"><b>{{coin.name.length>35?coin.name.substr(0,35)+'...':coin.name}}</b></span>
                        </div>
                        <div fxLayout="row" class="byd-div-heigh25">
                            <div fxFlex="50"><span>Start Price: </span><span><b>{{coin.startPrice}}</b></span></div>
                            <div fxFlex><span>Bottom Price: </span><span><b>{{coin.lowestPrice}}</b></span></div>
                        </div>
                        <div fxLayout="row" class="byd-div-heigh25">
                            <div fxFlex="50"><span>Current Price: </span><span><b>{{coin.currentPrice}}</b></span></div>
                            <div fxFlex><span><b>Offer Price:</b> </span><span><b>{{coin.coinOffer.offerPrice}}</b></span></div>
                        </div>
                        <div class="byd-div-heigh25" fxLayout="row" style="padding-top: 20px;padding-bottom: 20px;">
                            <div fxFlex.gt-sm="75" fxFlex.lt-md="100" fxLayout="row">
                                    <div fxFlex="50" style="padding-right: 20px;">
                                        <button class="byd-function-button" [disabled]="coin.btnRejectOfferDisabled" 
                                            [ngClass]="{'disabled-btn': coin.btnRejectOfferDisabled}" 
                                            (click)="rejectOffer(coin.coinOffer.userId, coin.coinOffer.coinId, coin.name, coin)">
                                            {{coin.btnRejectOfferTitle}}</button>
                                    </div>
                                    <div fxFlex="50">
                                        <button class="byd-function-button" [disabled]="coin.btnAcceptOfferDisabled" 
                                            [ngClass]="{'disabled-btn': coin.btnAcceptOfferDisabled}" 
                                            (click)="acceptOffer(coin.coinOffer.userId, coin.coinOffer.coinId, coin.name, coin)">
                                            {{coin.btnAcceptOfferTitle}}</button>
                                    </div>                                
                            </div>
                            <div fxFlex></div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div *ngIf="myCoinOffers.length==0" style="text-align: center; padding-top: 30px;">
            <span>{{searchResultMessage}}</span>
        </div>
    </div>
</div>