<div fxLayout="row" class="byd-page-container" style="font-size:14px;">

    <div fxFlex fxLayout="column">

        <div class="byd-margin-top-20">
            <span style="font-size: 22px; border-bottom: 1px solid #d0d0d0;">
                Selling Practice Policies and Fees
            </span>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top:20px">

            <span>
                At Bydd, our mission is to keep online selling simple, affordable and fair for all. In order to fulfil this mission, there are a few requirements and 
                expectations for sellers to follow. <br><br>
            </span>
            
        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                Listing Policy
            </span>
        </div>

        <div>

            1. While in the development stages, the current categories allowed on Bydd are restricted to numismatic and related items. Categories for other 
            collectibles will be coming soon.<br><br>

            2. All items listed must be in the possession of the seller. Bydd does not allow proxy listings.<br><br>

            3. All effort must be made to ensure accurate photos and descriptions.<br><br>

        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                Seller Standards Policy
            </span>
        </div>
                
        <div>
            1. To be able to sell on Bydd without restriction, sellers must have a minimum of 85% positive feedback.<br><br>

            2. Sellers with more than 5 active disputes will temporarily be unable to list until the disputes have been satisfactorily mediated<br><br>
        </div>

          
        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                Fees and Payout
            </span>
        </div>            

        <div>
            Bydd charges a flat 8.5% final value fee, based on the amount of the sale. The total amount is defined as just the item price, not including handling, 
            shipping, tax or any other applicable fees.<br><br>

            1. Buyers pay the transaction fees associated with the sales price. The payment is then held by Bydd as escrow. Once a tracking number of other proof 
            of shipment is uploaded onto the Seller’s Hub, the payment is then sent to the seller.<br><br>

            2. Sellers are responsible for associated transaction fees as payment is sent from Bydd to the seller’s account. For a no-fees option, we recommend 
            Bank Transfer.<br><br>

            3. All applicable taxes and government fees are the responsibility of the seller. Bydd cannot offer tax advice. For specific tax policies and best practices, 
            sellers are encouraged to contact a tax authority or agent in their locality.<br><br>

            4. Shipment Policy<br><br>

            5. Sellers are strongly encouraged to ship their items within 3 business days of receipt of payment and are required to ship their items no more than 5 
            business days of receipt of payment.<br><br>

            6. Sellers are required to upload tracking number or other proof of payment onto the Seller’s hub to receive their payout<br><br>


        </div>

    </div>
</div>