<div fxLayout="row" class="byd-page-container" style="font-size:14px;">

    <div fxFlex fxLayout="column">

        <div class="byd-margin-top-20">
            <span style="font-size: 22px; border-bottom: 1px solid #d0d0d0;">
                Transactional Policies
            </span>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top:20px">

            <span>
                At Bydd, we strive to create a safe, fair, and enjoyable platform for both buyers and sellers. We believe
                that this begins with establishing clear guidelines and expectations for all our users. Our policies
                outlined here are designed with this in mind - to ensure that transactions on our platform are transparent,
                respectful, and uphold the integrity of our marketplace.<br><br>
            </span>
            <span>]
                These policies help us maintain a trusted environment, deter fraudulent activity, protect our users, and
                abide by legal and regulatory standards. By using our platform, you agree to these policies and terms of
                use. Non-compliance can result in various consequences, from warnings and suspensions to permanent
                bans.<br><br>
            </span>
            <span>
                We appreciate your cooperation in maintaining a positive experience for all users on Bydd. Thank you for
                being a part of our community and for adhering to these guidelines. Together, we can make Bydd a go-to place
                for secure and efficient transactions.<br><br>
            </span>
            
        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                Buying Policy
            </span>
        </div>

        <div>

            <b>1. Buyer Responsibilities:</b><br><br>

            <span>As a buyer, you agree to:</span><br><br>

            <span>1. Understand Item Details: Ensure you have thoroughly read and understood the item description, shipping and
            return policies, and any other terms before making a purchase.</span><br>
            <span>2. Confirm Delivery: After receiving your order, we kindly ask you to help the seller and other buyers in the
            community by leaving an honest review.</span> <br>
            <span>3. Communicate Respectfully: All communication with sellers should be respectful and courteous. Any form of
            harassment, abuse, or spam is strictly prohibited.</span><br><br>

            <b>2. Buyer Protection:</b><br><br>

            <span>As a buyer, you are protected by our Buyer Protection Program. If you make a purchase and:</span><br><br>

            <span>1. The item does not arrive within a reasonable time, or</span><br>
            <span>2. The item is significantly different from the description,</span><br><br>

            <b>you can file a dispute within 21 days of the delivery date or the estimated delivery date.</b><br><br>
        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                Selling Policy
            </span>
        </div>

        <div>

            <b>1. Seller Responsibilities:</b><br><br>

            <span>As a seller, you agree to:</span><br><br>

            1. Accurate Listings: All listings should be accurate and include clear photos and descriptions.
            Misrepresentation of items is strictly prohibited.<br>
            2. Prompt Shipping: Once a purchase has been made, we recommend shipping within 3 business days of confirmed
            payment. We require shipping no later than 5 business days after confirmed payment. Delays in shipping can
            lead to cancellation of the sale and can negatively impact your seller rating.<br>
            3. Professional Communication: All communication with buyers should be respectful and courteous. Any form of
            harassment, abuse, or spam is strictly prohibited.<br><br>

            <b>2. Seller Protection:</b><br><br>

            As a seller, you are protected by our Seller Protection Program. If:<br><br>

            1. The buyer claims they didn't receive the item, but you have proof of delivery, or<br>
            2. The buyer files a chargeback with their payment provider after receiving the item,<br><br>

            you can file a dispute within 21 days of the incident.<br><br>
        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                Transaction Policies
            </span>
        </div>
        

        <div>            
            <b>1. Transaction and Payment Policy</b><br><br>

            1.1 Payment<br><br>
            
            Buyers will be directed to make full payment in order to confirm purchase of an item. For orders made through the “offer” function, full payment is 
            required within two business days.<br><br>
            
            1.2 Seller Payout<br><br>
            
            Proceeds from any sale are collected by Bydd immediately upon receipt of payment from the Buyer. For items above $100, sellers will receive their due 
            payout within 24 hours of tracking number upload on their Seller’s Hub. For items below $100 without a tracking number, sellers will receive their due 
            payout within 24 hours of uploading shipment confirmation on their Seller’s Hub. This ensures a secure transaction for both the buyer and the seller and 
            provides a record of item shipment.<br><br>

            <b>2. Shipping Policy</b><br><br>

            2.1 Shipping Options<br><br>

            Sellers are required to list the shipping details on their item. The details should clearly state the delivery times and associated costs.<br><br>

            2.2 Tracking Number<br><br>

            For any items over $100 in sale value, sellers must upload the tracking number for their shipment onto their Seller's Hub. This tracking number is crucial 
            for validating the shipment and for the seller to receive payment for their items.<br><br>

            2.3 Proof of Shipment<br><br>

            For any items below $100 in sale value, sellers must upload the proof of shipment onto their Seller’s Hub. Proof of shipment can include a picture of the 
            package or the shipment receipt.<br><br>

            2.3 Signature Confirmation<br><br>

            For items or shipments totaling over $750, we strongly encourage the use of signature confirmation. This measure ensures the safe and verified delivery 
            of the purchased items.<br><br>

            <b>3. Dispute Resolution Policy</b><br><br>

            3.1 Reporting Unreceived or Mismatched Items<br><br>

            If items do not match the description or do not arrive within the designated time period, buyers may file a report within 21 days of the designated arrival 
            date. The report should detail the nature of the issue, and where applicable, provide evidence, such as photographs or screenshots.<br><br>

            3.2 Seller's Response<br><br>

            Once a report is requested, the seller must respond within 3 business days. The response should address the buyer's concerns and propose a solution to 
            the problem, if possible.<br><br>

            3.3 Bydd's Intervention<br><br>

            If the seller does not respond within the stipulated time, or if the buyer and seller cannot reach an agreement, BYDD can be requested to step in and 
            help resolve the issue. We aim to review all details and respond to both parties within 48 hours.<br><br>

            3.4 Refund Policy<br><br>

            Should we determine the case in the buyer's favour, BYDD will issue a refund to the buyer. The refund will be returned to the original payment method 
            and is typically available within 3-5 business days. The seller will be charged back for the refund.<br><br>

            3.5 Appeals<br><br>

            If either party doesn't agree with our resolution, they can appeal by providing new information within 30 calendar days of the case being closed.
            Please note that these policies are in place to create a safe and trustworthy environment for both buyers and sellers. We appreciate your adherence to 
            these policies as we work together to make BYDD a reliable marketplace.<br><br>
    

        </div>

    </div>
</div>