<div fxLayout="row" class="byd-page-container">
    <div fxFlex></div>
    <div fxFlex="70" fxLayout="column">
        <div class="byd-coin-field-div">
            <kendo-label class="k-form" text="Coin Title" [for]="input"></kendo-label>
            <kendo-textbox #input [(ngModel)]="newCoin.name" required="true"></kendo-textbox>
        </div>

        <!-- description -->
        <div class="byd-coin-field-div">
            <kendo-label class="k-form" text="Description" [for]="input"></kendo-label>
            <kendo-textbox #input [(ngModel)]="newCoin.description"></kendo-textbox>
        </div>

        <!-- Category -->
        <div class="byd-coin-field-div">
            <kendo-label class="k-form" text="Category">
                <div class="byd-div-radio">
                    <input type="radio" value="1" class="byd-radio" size="small" name="rdoCategory" [(ngModel)]="newCoin.categoryId" kendoRadioButton />
                    <span class="byd-radio-text">Gold Coin</span>
                    <input type="radio" value="2" class="byd-radio" size="small" name="rdoCategory" [(ngModel)]="newCoin.categoryId" kendoRadioButton checked />
                    <span class="byd-radio-text">Silver Coin</span>
                    <input type="radio" value="3" class="byd-radio" size="small" name="rdoCategory" [(ngModel)]="newCoin.categoryId" kendoRadioButton />
                    <span class="byd-radio-text">Copper Coin</span>
                    <input type="radio" value="4" class="byd-radio" size="small" name="rdoCategory" [(ngModel)]="newCoin.categoryId" kendoRadioButton />
                    <span class="byd-radio-text">Medal</span>
                    <input type="radio" value="5" class="byd-radio" size="small" name="rdoCategory" [(ngModel)]="newCoin.categoryId" kendoRadioButton />
                    <span class="byd-radio-text">Banknote</span>
                    <input type="radio" value="20" class="byd-radio" size="small" name="rdoCategory" [(ngModel)]="newCoin.categoryId" kendoRadioButton />
                    <span class="byd-radio-text">Other</span>
                </div>
            </kendo-label>
        </div>

        <!-- start price & bottom Price & increment-->
        <div class="byd-coin-field-div" fxLayout="row">
            <div fxFlex="33">
                <kendo-label class="k-form" text="Start Price">
                    <kendo-numerictextbox [(value)]="newCoin.startPrice" [autoCorrect]="true"></kendo-numerictextbox>
                </kendo-label>
            </div>
            <div fxFlex="33" style="padding-left: 10px;">
                <kendo-label class="k-form" text="Bottom Price">
                    <kendo-numerictextbox [(value)]="newCoin.lowestPrice" [autoCorrect]="true"></kendo-numerictextbox>
                </kendo-label>
            </div>
            <div fxFlex="34" style="padding-left: 10px;">
                <kendo-label class="k-form" text="Increment">
                    <kendo-numerictextbox [(value)]="newCoin.increment" [autoCorrect]="true"></kendo-numerictextbox>
                </kendo-label>
            </div>
        </div>

        <!-- start date & end date & interval-->
        <div class="byd-coin-field-div" fxLayout="row">
            <div fxFlex="33">
                <kendo-label class="k-form" text="Start DateTime">
                    <kendo-datetimepicker [format]="format" [(value)]="startDateTime"></kendo-datetimepicker>
                </kendo-label>
            </div>
            <div fxFlex="33" style="padding-left: 10px;">
                <kendo-label class="k-form" text="End DateTime">
                    <kendo-datetimepicker [format]="format" [(value)]="endDateTime"></kendo-datetimepicker>
                </kendo-label>
            </div>
            <div fxFlex="34" style="padding-left: 10px;">
                <kendo-label class="k-form" text="Interval">
                    <kendo-dropdownlist [data]="intervals" [(value)]="interval" [textField]="'text'" [valueField]="'value'"></kendo-dropdownlist>
                </kendo-label>
            </div>
        </div>

        <div class="byd-coin-field-div">
            <kendo-label class="k-form" text="Shipping Options">
                <div class="byd-new-coin-div" fxLayout="column">
                    <div fxLayout="row" style="text-align: center;">
                        <div fxFlex="15" fxLayout="column" style="border-right: 1px solid rgba(0, 0, 0, 0.08);">
                            <div fxFlex></div><span>Domestic</span><div fxFlex></div>
                        </div>
                        <div fxFlex="30" style="padding: 5px;">
                            <kendo-label class="k-form" text="Carrier">
                                <kendo-dropdownlist [data]="carriers" [(value)]="newCoin.carrierNameDomestic"></kendo-dropdownlist>
                            </kendo-label>
                        </div>
                        <div fxFlex="30" style="padding: 5px;">
                            <kendo-label class="k-form" text="Service Type" [for]="serviceType"></kendo-label>
                            <kendo-textbox #serviceType [(ngModel)]="newCoin.serviceTypeDomestic"></kendo-textbox>
                        </div>
                        <div fxFlex="25" style="padding: 5px;">
                            <kendo-label class="k-form" text="Shipping Fee">
                                <kendo-numerictextbox [(value)]="newCoin.shippingFeeDomestic" [autoCorrect]="true"></kendo-numerictextbox>
                            </kendo-label>
                        </div>
                    </div>
                    <div style="border-top: 1px solid rgba(0, 0, 0, 0.08); text-align: center;">
                        <div fxFlex="15" fxLayout="column" style="border-right: 1px solid rgba(0, 0, 0, 0.08);">
                            <div fxFlex></div><span>International</span><div fxFlex></div>
                        </div>
                        <div fxFlex="30" style="padding: 5px;">
                            <kendo-label class="k-form" text="Carrier">
                                <kendo-dropdownlist [data]="carriers" [(value)]="newCoin.carrierNameInternational"></kendo-dropdownlist>
                            </kendo-label>
                        </div>
                        <div fxFlex="30" style="padding: 5px;">
                            <kendo-label class="k-form" text="Service Type" [for]="serviceTypeInter"></kendo-label>
                            <kendo-textbox #serviceTypeInter [(ngModel)]="newCoin.serviceTypeInternational"></kendo-textbox>
                        </div>
                        <div fxFlex="25" style="padding: 5px;">
                            <kendo-label class="k-form" text="Shipping Fee">
                                <kendo-numerictextbox [(value)]="newCoin.shippingFeeInternational" [autoCorrect]="true"></kendo-numerictextbox>
                            </kendo-label>
                        </div>
                    </div>
                </div>
            </kendo-label>
        </div>

        <!-- Images -->
        <div class="byd-coin-field-div">
            <kendo-label class="k-form" text="Coin Images">
                <div id="divImages" fxLayout="row"
                    style="padding: 10px; border:1px solid rgba(0, 0, 0, 0.08); border-radius: 5px;">
                    <div fxFlex></div>
                    <div class="byd-image-preview-div">
                        <span class="material-icons byd-remove-image-icon" (click)="removeImage(0)"
                            *ngIf="newCoin.imageUrls[0]!=''">close</span>
                        <kendo-upload *ngIf="newCoin.imageUrls[0]==''" [multiple]="true" [saveUrl]="saveUrl"
                            [autoUpload]="false" (select)="onSelect($event)"></kendo-upload>
                        <img *ngIf="newCoin.imageUrls[0]!=''" (click)="showImage(newCoin.imageUrls[0])" [src]="newCoin.imageUrls[0]" class="byd-new-coin-img">
                    </div>
                    <div class="byd-image-preview-div">
                        <span class="material-icons byd-remove-image-icon" (click)="removeImage(1)"
                            *ngIf="newCoin.imageUrls[1]!=''">close</span>
                        <kendo-upload *ngIf="newCoin.imageUrls[1]==''" [multiple]="true" [saveUrl]="saveUrl"
                            [autoUpload]="false" (select)="onSelect($event)"></kendo-upload>
                        <img *ngIf="newCoin.imageUrls[1]!=''" (click)="showImage(newCoin.imageUrls[1])" [src]="newCoin.imageUrls[1]" class="byd-new-coin-img">
                    </div>
                    <div class="byd-image-preview-div">
                        <span class="material-icons byd-remove-image-icon" (click)="removeImage(2)"
                            *ngIf="newCoin.imageUrls[2]!=''">close</span>
                        <kendo-upload *ngIf="newCoin.imageUrls[2]==''" [multiple]="true" [saveUrl]="saveUrl"
                            [autoUpload]="false" (select)="onSelect($event)"></kendo-upload>
                        <img *ngIf="newCoin.imageUrls[2]!=''" (click)="showImage(newCoin.imageUrls[2])" [src]="newCoin.imageUrls[2]" class="byd-new-coin-img">
                    </div>
                    <div class="byd-image-preview-div">
                        <span class="material-icons byd-remove-image-icon" (click)="removeImage(3)"
                            *ngIf="newCoin.imageUrls[3]!=''">close</span>
                        <kendo-upload *ngIf="newCoin.imageUrls[3]==''" [multiple]="true" [saveUrl]="saveUrl"
                            [autoUpload]="false" (select)="onSelect($event)"></kendo-upload>
                        <img *ngIf="newCoin.imageUrls[3]!=''" (click)="showImage(newCoin.imageUrls[3])" [src]="newCoin.imageUrls[3]" class="byd-new-coin-img">
                    </div>
                    <div class="byd-image-preview-div">
                        <span class="material-icons byd-remove-image-icon" (click)="removeImage(4)"
                            *ngIf="newCoin.imageUrls[4]!=''">close</span>
                        <kendo-upload *ngIf="newCoin.imageUrls[4]==''" [multiple]="true" [saveUrl]="saveUrl"
                            [autoUpload]="false" (select)="onSelect($event)"></kendo-upload>
                        <img *ngIf="newCoin.imageUrls[4]!=''" (click)="showImage(newCoin.imageUrls[4])" [src]="newCoin.imageUrls[4]" class="byd-new-coin-img">
                    </div>
                    <div class="byd-image-preview-div">
                        <span class="material-icons byd-remove-image-icon" (click)="removeImage(5)"
                            *ngIf="newCoin.imageUrls[5]!=''" style="color:white; position: absolute;">close</span>
                        <kendo-upload *ngIf="newCoin.imageUrls[5]==''" [multiple]="true" [saveUrl]="saveUrl"
                            [autoUpload]="false" (select)="onSelect($event)"></kendo-upload>
                        <img *ngIf="newCoin.imageUrls[5]!=''" (click)="showImage(newCoin.imageUrls[5])" [src]="newCoin.imageUrls[5]" class="byd-new-coin-img">
                    </div>
                    <div fxFlex></div>
                </div>
            </kendo-label>
        </div>

        <div class="byd-coin-field-div" style="text-align: center;margin-top: 20px;">
            <button mat-button (click)="reset()" class="btnClose byd-function-button">Reset</button>&nbsp;&nbsp;&nbsp;
            <button mat-button (click)="gotoRouter('CoinList')"
                class="btnClose byd-function-button">Cancel</button>&nbsp;&nbsp;&nbsp;
            <button kendoButton (click)="submit()" class="btnClose byd-function-button"
                [disabled]="btnSubmitDisabled" [ngClass]="{'disabled-btn': btnSubmitDisabled}">{{btnSubmitTitle}}</button>
        </div>
    </div>
    <div fxFlex></div>
</div>