<div fxLayout="row" class="byd-page-container" style="font-size:16px;">

    <div fxFlex fxLayout="column">

        <div class="byd-margin-top-20">
            <span style="font-size: 22px; border-bottom: 1px solid #d0d0d0;">
                Frequently Asked Questions
            </span>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top:20px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">What fees does Bydd Charge?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a">A.</span>
                <span class="byd-a1">We charge a final value fee of 8.5% on all sales. This fee will be automatically deducted from the proceeds of any item that is sold.</span>
            </div>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top:30px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">What payment methods are accepted on Bydd?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a byd-line-height-40">A.</span>
                <span class="byd-a1">After making a puchase on Bydd, you will be prompted to make payment. We currently offer PayPal as well as credit/debit card as a method of payment.</span>
            </div>
        </div>


        <div fxLayout="column" class="byd-list-all-div" style="padding-top:30px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">When will I receive my sales proceeds?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a byd-line-height-40">A.</span>
                <span class="byd-a1">After selling an item, the buyer’s payment is held in escrow by Bydd until shipment. Upon uploading a tracking number or proof of shipment in cases with no tracking number (photo or receipt), your payout will then be sent to your PayPal account.</span>
            </div>
        </div>


        <div fxLayout="column" class="byd-list-all-div" style="padding-top:30px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">How is shipping handled by Bydd?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a byd-line-height-40">A.</span>
                <span class="byd-a1">Bydd does not facilitate shipping as we do not hold any items by individual sellers. Instead, it is up to sellers to set their shipping details, price and courier information. Bydd encourages sellers to ship within 3 business days of receipt of payment and no more than 5 business days after receipt of payment.</span>
            </div>
        </div>


        <div fxLayout="column" class="byd-list-all-div" style="padding-top:30px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">How does Bydd differ from traditional auctions?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a byd-line-height-40">A.</span>
                <span class="byd-a1">Bydd is unique due to the Dutch Auction format that we use on our platform. In traditional auction formats, bidding follows an ascending order. In a Dutch Auction, bidding starts at an entry price, descending systematically until a buyer makes a purchase or it hits a pre-set reserve price.</span>
            </div>
        </div>


        <div fxLayout="column" class="byd-list-all-div" style="padding-top:30px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">How does Bydd offer protection from auction fraud?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a byd-line-height-40">A.</span>
                <span class="byd-a1">In traditional auction formats, fraud occurs when shill bidding takes place. Shill bidding is when a seller bids on their own items through a proxy account in an effort to either drive the price up or set an unofficial reserve. Owing to the nature of a Dutch Auction where each bid is an outright purchase, sellers are unable to bid on their own item to artificially increase the price.</span>
            </div>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top:30px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">What benefits does Bydd offer Sellers?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a byd-line-height-40">A.</span>
                <span class="byd-a1">Bydd offers sellers multiple benefits. Our Dutch auction format decreases the chance of items selling at a loss. In traditional auctions, sellers are often encouraged to set a low starting price to attract bids and attention. With a low starting price, sellers are left helpless if their items don’t command the attention or interest they deserve, leaving sellers with an unsatisfactory price. With the floor price feature on Bydd, sellers can guarantee a minimum price. Next, prices are determined by the second highest bid on traditional auctions. On Bydd, prices are determined instead by the highest bid, maximising the price that sellers can command for their item.</span>
            </div>
        </div>


        <div fxLayout="column" class="byd-list-all-div" style="padding-top:30px">
            <div class="byd-qa">
                <span class="byd-q">Q.</span>
                <span class="byd-q1">How does Bydd mediate disputes?</span>
            </div>
            <div class="byd-as" fxLayout="row">
                <span class="byd-a byd-line-height-40">A.</span>
                <span class="byd-a1">Bydd offers multiple avenues for resolving buyer-seller disputes. The first mechanism for avoiding dispute is the feedback system for sellers. Before buying, be sure to check the feedback rating of any seller. Bydd requires sellers to maintain an 85% or above positive feedback rate. Should any dispute occur after purchase, such as “item not received” or “item not as described”, the Bydd resolution centre then steps in to mediate and offer judgement.</span>
            </div>
        </div>


    </div>
</div>