.byd-page-container {
    height:100%;
    padding: 30px;
}

.byd-coin-field-div { margin-top:10px; }

.byd-spin{
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.byd-sort-option { height: 30px; line-height: 30px; }

.byd-watlist-coin { margin: 10px; background-color: #f5f5f5}
.byd-watlist-coin:hover { background-color: #e0e0e0;}

.byd-padding-3 { padding: 3px; text-align: center;}

@media only screen and (max-width: 600px) {
    .byd-watchlist-image { text-align: center; }
    .byd-coin-image { max-height:150px; border: 1px solid #f0f0f0;border-radius: 5px;padding: 5px }
    .byd-coin-preview-image { max-height: 50px; }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .byd-watchlist-image { width:215px; text-align: center; }
    .byd-coin-image { max-width:200px; max-height:100px; border: 1px solid #f0f0f0;border-radius: 5px;padding: 5px }
    .byd-coin-preview-image { max-height: 25px; }
}

@media only screen and (min-width: 1025px) {
    .byd-watchlist-image { width:215px; text-align: center; }
    .byd-coin-image { max-width:200px; max-height:100px; border: 1px solid #f0f0f0;border-radius: 5px;padding: 5px }
    .byd-coin-preview-image { max-height: 25px; }
}
