<div fxLayout="row" class="byd-page-container">
    <div fxFlex fxLayout="column">
        <div class='byd-signin-title'>
            <span>Registration Successful</span>
        </div>

        <div class="byd-login-margin" style="text-align: center;">
            <img src="assets/img/Checkmark-green.png" width="100" height="100">
        </div>

        <div class="byd-login-margin" style="text-align: center;">
            <span>Your account was successfully created! You are now ready to buy or sell your first item on
                Bydd!</span>
        </div>

        <div id="divSignIn" class="byd-login-margin" style="text-align: center;">
            <button kendoButton class="byd-button" (click)="login()">Shop now</button>
        </div>

    </div>
</div>