<div fxLayout="row" class="byd-page-container" style="font-size:14px;">

    <div fxFlex fxLayout="column">

        <div class="byd-margin-top-20">
            <span style="font-size: 22px; border-bottom: 1px solid #d0d0d0;">
                How it Works: Understanding Dutch Auctions and Using Bydd
            </span>
        </div>

        <div fxLayout="column" class="byd-list-all-div" style="padding-top:20px">
            <span>
                Welcome to Bydd, an innovative platform that's transforming the ecommerce auction landscape. We're
            leveraging the power of the dutch auction format to create a streamlined, reliable, and efficient
            marketplace for collectors of all kinds. We are here to provide a seamless auction experience for both
            buyers and sellers. But what exactly is a Dutch auction, and how do you use Bydd? Let's dive in.<br><br>
            </span>
        </div>

        <div style="text-align: center;">
            <video controls width="532" height="300" style="border: 5px solid black;">
                <source src="assets/img/howwork.mp4" type="video/mp4">
            </video>
        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                What is a Dutch Auction?
            </span>
        </div>

        <div>
            <span>
            A Dutch auction is a type of auction where the auctioneer starts with the highest asking price, which lowers
            over time until a participant accepts the price. The first bid made is the winning bid, ensuring that the
            buyer pays the fairest price they are willing to offer.<br><br>
            </span>

            <span>
            Dutch auctions are especially beneficial for goods of high value or unique items, where the true market
            value might be unknown. They are also resistant to fraud and less time-consuming than traditional auction
            formats.<br><br>
            </span>
        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                The Benefits of Dutch Auctions on Bydd
            </span>
        </div>

        <div>
            <b>For Buyers:</b><br><br>

            <li>Fair Pricing: You only pay what you're willing to pay, not a cent more.</li><br>
            <li>Instant Purchases: No need to wait for a prolonged bidding period.</li><br>
            <li>Transparency: The process is straightforward, reducing the risk of fraud.</li><br>

            <b>For Sellers:</b><br><br>

            <li>Maximised Potential Final Price: The first bid accepted is often the highest the market is willing to
            pay.</li><br>
            <li>Reduced Risk of Unsuccessful Sale: The price lowers until a buyer is found, ensuring a sale as long as the
            reserve price is met.</li><br>
            <li>Efficiency: Faster sales process compared to traditional auctions.</li><br><br>
        </div>

        <div class="byd-margin-bottom-20">
            <span style="font-size: 20px; border-bottom: 1px solid #d0d0d0;">
                How to Use Bydd
            </span>
        </div>

        <div>

            <b>For Buyers:</b><br><br>

            Step 1: Register an account on Bydd using your email address.<br><br>

            Step 2: Browse the listings to find an item you're interested in.<br><br>

            Step 3: Click on the item for more details and the current asking price.<br><br>

            Step 4: If you agree with the price, click on 'Bid now' to place your bid. The first bid made is the winning
            bid.<br><br>

            Step 5: Follow the prompts to complete your purchase. Congratulations, you've made your first Bydd
            purchase!<br><br>

            <b>For Sellers:</b><br><br>

            Step 1: Register for a Bydd account.<br><br>

            Step 2: Click on 'List Your Item'.<br><br>

            Step 3: Enter all the necessary details about your item, including starting price, reserve price, and
            auction duration.<br><br>

            Step 4: Click 'Submit' to list your item. It will now be visible to all Bydd users.<br><br>

            Step 5: Once a buyer places a bid, you'll be notified. The auction ends, and the sale is processed.<br><br><br>


            Enjoy the simplicity, transparency, and excitement of Dutch auctions with Bydd. Happy bidding!<br><br>


        </div>

    </div>
</div>